<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <head>
    <title th:text="ホーム画面">一覧表示画面</title>
  </head>

  <div layout:fragment="content">
    <div class="row">
      <div class="col-lg-8 offset-2">
        <div th:replace="fragments/flash :: flashMessages"></div>
        <h1>リスト一覧</h1>
        <a th:href="@{/lists/new}" class="mb-3">+ 新規作成</a>
        <table>
          <thead>
            <tr>
              <th scope="col">タイトル</th>
              <th scope="col">本文</th>
              <th scope="col">更新日</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="list : ${lists}">
              <td><a th:href="@{/lists/{id}(id=${list.id})}" th:text="${list.title}"></a></td>
              <td th:text="${list.body}"></td>
              <td th:text="${list.updatedAt.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy/MM/dd'))}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</html>