<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>MyList新規作成</title>
  </head>
  <body>
    <h1>MyList新規作成</h1>
    <form th:action="@{/lists}" th:object="${myList}" method="post">
      <label>タイトル：</label><br>
      <input type="text" th:field="*{title}"><br>

      <label>本文：</label><br>
      <input type="text" th:field="*{body}"><br><br>

      <button type="submit">作成</button>
    </form>
    <a th:href="@{/lists}">一覧に戻る</a>
  </body>
</html>